@model IEnumerable<CarSystem_TSP_Project.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Cars in the system</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Engine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transmission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveType)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.DateOfFirstReg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
          
            <th>
                <a asp-action="AddOrEdit" class="btn btn-sm btn-success">
                    <i class="fa-solid fa-plus"></i>New</a>
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfFirstReg)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Name)
            </td>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
            <td>
                <div class="btn-group btn-group-sm">

                <a asp-action="AddOrEdit" asp-route-id="@item.CarId" class="btn btn-warning">
                    <i class="fa-solid fa-pen-to-square">Edit</i>
                    </a> |
             
                <a asp-action="Delete" asp-route-id="@item.CarId" class="btn btn-danger">
                    <i class="far fa-trash-alt"></i>
                    Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
